<%- include('partials/header'); %>
<%- include('partials/navbar_usuario'); %>

<h1>Lo siento, ésta funcion no ha sido finalizada todavía, comuniquense con el admin perensejo: </h1>
<ul>
    <li>Numero: 3001231230</li>
    <li>mail: perensejo@udistrital.edu.co</li>
</ul>

<img src="/public/img/zorry.jpg" alt="">

<%- include('partials/navbar_footer'); %>
<%- include('partials/footer'); %>
