<%- include('partials/header'); %>
<%- include('partials/navbar_usuario'); %>

<h1>Panel Buenas tardes</h1>
<p>Aquí va tu contenido...</p>

<%- include('partials/navbar_footer'); %>
<%- include('partials/footer'); %>