<!DOCTYPE html>
<html>
<head>
  <title>Formulario Yate</title>
</head>
<body>
  <h1>Eliminar Yate</h1>

  <form action="/yate/delete?_method=DELETE" method="POST">

    <label for="matricula">Matrícula del yate:</label>
    <input type="text" id="matricula" name="matricula" required><br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>
