<!DOCTYPE html>
<html>
<head>
  <title>Formulario Socio</title>
</head>
<body>
  <h1>Registrar Socio</h1>
  <form action="/socio/delete?_method=DELETE" method="POST">


    <label for="codigo">Codigo de socio:</label>
    <input type="text" id="codigo" name="codigo" required><br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>