<!DOCTYPE html>
<html>
<head>
  <title>Formulario Socio</title>
</head>
<body>
  <h1>Registrar Socio</h1>
  <form action="/socio/formulario" method="POST">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br><br>

    <label for="cedula">Cedula:</label>
    <input type="text" id="cedula" name="cedula" required><br><br>

    <label for="fecha_vinculacion">Fecha de Vinculacion:</label>
    <input type="date" id="fecha_vinculacion" name="fecha_vinculacion" required><br><br>
    
    <label for="direccion">Direccion:</label>
    <input type="text" id="direccion" name="direccion" required><br><br>

    <label for="telefono">Numero telefonico:</label>
    <input type="number" id="telefono" name="telefono" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
    

     <label for="contrase単a">Contrase単a:</label>
    <input type="text" id="contrase単a" name="contrase単a" required><br><br>
    

    <button type="submit">Enviar</button>
  </form>
</body>
</html>
