<!DOCTYPE html>
<html>
<head>
  <title>Formulario Socio</title>
</head>
<body>
  <h1>Registrar Socio</h1>
  <form action="/socio/edicion?_method=PATCH" method="POST">


    <label for="codigo">Codigo de socio:</label>
    <input type="text" id="codigo" name="codigo" required><br><br>

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" ><br><br>

    <label for="cedula">Cedula:</label>
    <input type="number" id="cedula" name="cedula" ><br><br>

    <label for="fecha_vinculacion">Fecha de Vinculacion:</label>
    <input type="date" id="fecha_vinculacion" name="fecha_vinculacion" ><br><br>
    
    <label for="direccion">Direccion:</label>
    <input type="text" id="direccion" name="direccion" ><br><br>

    <label for="telefono">Numero telefonico:</label>
    <input type="number" id="telefono" name="telefono" ><br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>
