<!DOCTYPE html>
<html>
<head>
  <title>Formulario Tipo de yate</title>
</head>
<body>
  <h1>Eliminar Tipo de yate</h1>
  <form action="/tipoyate/delete?_method=DELETE" method="POST">


    <label for="codigo">Codigo de Tipo de yate:</label>
    <input type="text" id="codigo" name="codigo" required><br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>