<!DOCTYPE html>
<html>
<head>
  <title>Formulario Amarre</title>
</head>
<body>
  <h1>Registrar Amarre</h1>
  <form action="/amarre/formulario/" method="POST">

    <label for="num_amarre">Codigo de Amarre:</label>
    <input type="text" id="num_amarre" name="num_amarre" required><br><br>

    <label for="id_zona">Cedula:</label>
    <input type="text" id="id_zona" name="id_zona" required><br><br>

    <label for="usuario_propietario_cedula">Nombre:</label>
    <input type="" id="usuario_propietario_cedula" name="usuario_propietario_cedula" required><br><br>

    <label for="direccion">direccion:</label>
    <input type="text" id="direccion" name="direccion" required><br><br>


    <button type="submit">Enviar</button>
  </form>
</body>
</html>
