
<!DOCTYPE html>
<html>
<head>
  <title>Formulario Actualizacion Amarre</title>
</head>
<body>
  <h1>Editar Amarre</h1>
  <form action="/amarre/edicion?_method=PATCH" method="POST">


    <label for="num_amarre">Codigo de Amarre:</label>
    <input type="text" id="num_amarre" name="num_amarre" required><br><br>

    <label for="id_zona">Cedula del propietario:</label>
    <input type="text" id="id_zona" name="id_zona" required><br><br>

    <label for="usuario_propietario_cedula">Nombre:</label>
    <input type="" id="usuario_propietario_cedula" name="usuario_propietario_cedula" required><br><br>

    <label for="fecha_compra">fecha_compra:</label>
    <input type="text" id="fecha_compra" name="fecha_compra" required><br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>
